{
    "id":"/stanchion",
    "cmd":"./stanchion/bin/stanchion",
    "cpus":1.0,
    "mem":2048.0,
    "ports":[0],
    "instances":1,
    "env":{
        "RIAKHOSTPORT": "{{.RIAKHOSTPORT}}",
        "ADMIN_KEY": "{{.ADMIN_KEY}}",
        "ADMIN_SECRET": "{{.ADMIN_SECRET}}"
    },
    "uris": ["http://riak-tools.s3.amazonaws.com/riak-mesos/centos/artifacts/0.3.0/stanchion-bin.tar.gz"]
}
