%% -*- erlang -*-
[
 {riak_kv, [
            {storage_backend, riak_cs_kv_multi_backend},
            {multi_backend_prefix_list, [{<<"0b:">>, be_blocks}]},
            {multi_backend_default, be_default},
            {multi_backend, [
                             {be_default, riak_kv_eleveldb_backend, [
                                                                     {total_leveldb_mem_percent, 30},
                                                                     {data_root, "./data/leveldb"}
                                                                    ]},
                             {be_blocks, riak_kv_bitcask_backend, [
                                                                   {data_root, "./data/bitcask"}
                                                                  ]}
                            ]}
           ]},
 {kernel, [
           {cepmd_port, {{.CEPMDPort}}}
          ]
 },
 {os_mon,[
          {start_disksup, false},
          {start_memsup, false},
          {start_cpu_sup, false}
         ]
 }
].
